

  <nav class="navbar navbar-expand-lg bg-body-tertiary simpsons">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="https://visualpharm.com/assets/760/Homer%20Simpson-595b40b75ba036ed117d6267.svg" alt="Bootstrap" width="65" height="44">
            <span style="font-family: 'Homer Simpson Revised', sans-serif;">The Simspsons Quotes Game</span>
          </a>     
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" #hideIt>
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/home" routerLinkActive="selectedRouter">Home</a>
          <a class="nav-link" routerLink="/game" routerLinkActive="selectedRouter">Game</a>
          <a class="nav-link d-flex" routerLink="/about" routerLinkActive="selectedRouter">About</a>
        </div>
      </div>
    </div>
  </nav>