<div class="container chalkboard mt-2">
    <div class="centerDiv row align-items-center justify-content-evenly simpsons" >
       <div class="col-xl-6" style="font-size:calc(12px + 1.5vw);
       ">
         <p >Little game created by <span>Pablo Rodriguez</span>, which is a humble fan of this mythic show borned in the late 80's.
       </p>
       <p>
       This webapp was created using basically Angular and Bootstrap. This idea appeared when I was trying to find ideas to practice Angular and then I found a funny REST API which provided quotes from the show.
       </p>
       <p>
       Thanks to the developers who provided some material which (drastically) helped me in this task.
       </p>
    </div>
    <div class="col-xl-4">
        <ul class="list-group list-group-flush" style="font-family: 'Nanum Pen Script', cursive;">
            <li class="list-group-item list-group-item-action list-group-item-light">
                API - <a href="https://github.com/JLuboff/TheSimpsonsQuoteAPI" target="_blank"> HERE</a></li>
            <li class="list-group-item list-group-item-action list-group-item-light">
                CSS Models - <a href="https://pattle.github.io/simpsons-in-css/" target="_blank">HERE</a>
            </li>
            <li class="list-group-item list-group-item-action list-group-item-light">
                Font Family - <a href="https://www.cdnfonts.com/homer-simpson-revised.font" target="_blank">HERE</a>
            </li>            
        </ul>
    </div>
    </div>
</div> 