<div class="container text-center">
    <div class="row">
        <div class="col-8 simpsons ">
            <div class="row align-items-center">
                <div *ngIf="quoteArray.length == 0 && !isLoading" >
                    <h4>
                    <p>Once you feel ready please click on 'New Game', if you select the correct response 'Next level' will turn on and you will be able to continue the challenge*.</p>
    
                    <p>Please be careful clicking the button, nobody wants to make you loose your progress. Right?</p>
    
                
                    </h4>
                    <p style="font-size: 6px;" class="text-end align-items-end">*Please be aware this is not a real challenge.</p>
                </div>
                <div *ngIf="quoteArray.length != 0 && !isLoading">
                    <h3 class="">"{{quoteArray[correctResponse].quote}}"</h3>
                    <!-- <img src="{{quoteArray[correctResponse].image}}">
                    <span >{{quoteArray[correctResponse].character}}</span> -->
                    <div class="row align-items-center justify-content-around">
                        <div class="col-5" *ngFor="let character of characters; let i=index">
                            <button class="btn btn-primary" [disabled] = "correctFlag || gameOverFlag"   (click)="checkResponse(i)">{{character}}</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="isLoading">
                    <app-spinner></app-spinner>
                </div>
            </div>
        </div>
        <div class="col-4 border border-dark border-1 rounded-3 gamingText">    <div>
            <p>Top Score: {{highestScore}}</p>
            <p>Lives: {{lives}}</p>
            <p>Level: {{level}}</p>
            <button  (click)="newGame()" class="btn btn-outline-success">New Game</button>
            <button [disabled]="!correctFlag" (click)="nextLevel()" class="btn btn-warning">Next level</button>
        </div></div>
    </div>
    


    <button hidden (click)="test()">x</button>
</div>