<div class="container text-center" style="height: 100%;">
        <div class="row align-items-center">
          <div class="col-l-12 col-xl-10">
            <img src="https://th.bing.com/th/id/OIG.LlfWdIpgbk10TJBt.Uxu?pid=ImgGn" class="img-fluid" style="max-width: 300px;    display:block;
            margin:auto;">
          </div>
        </div>
        <hr>
        <div class="container">        
          <div class="row align-items-center">
          <div class="col-xl-10">
            <h4>Instructions</h4>
            <ul class="list-group list-group-flush" style="font-size: calc(8px + 1vw);">
              <li class="list-group-item">Try to guess the character who said the quote on screen.</li>
              <li class="list-group-item">You will have three lives, which will be restored after select the correct response (Max 3 Lives).</li>
              <li class="list-group-item">Please do not check closely the logo, but if you do it: Trust me, this was the best generated option.</li>
            </ul>
          </div>
          <div class="col-xl-2"><button routerLink="/game" class="btn btn-outline-success btn-lg">START</button></div>
        </div>
      </div>

          
</div>